/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 100px;
    width: auto;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #f0a500;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s;
}

.dropbtn:hover {
    color: #f0a500;
}

.dropdown-content {
    display: block;
    opacity: 0;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content a:hover {
    background-color: #f0a500;
}

.dropbtn {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s;
    cursor: pointer;
}

.dropbtn::after {
    content: ' \25BE';
    font-size: 14px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown:hover .dropbtn::after {
    transform: rotate(180deg);
}

/* Main */
main {
    overflow: hidden; 
    position: relative;
}

.image-slider {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.slider {
    position: relative;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0;
    animation: fade 16s infinite;
}

.slider img:nth-child(1) {
    animation: gif-loop 5s forwards;
    z-index: 2; 
}

.slider img:nth-child(2) {
    animation-delay: 5s; 
}

.slider img:nth-child(3) {
    animation-delay: 10s;
}

.slider img:nth-child(4) {
    animation-delay: 15s;
}

/* Keyframes for the GIF */
@keyframes gif-loop {
    0%, 100% { opacity: 1; }
    99.9% { opacity: 1; } /* Keeps the GIF visible throughout its duration */
    100% { opacity: 0; } /* Fades out at the very end */
}

/* Keyframes for the image slider */
@keyframes fade {
    0%, 100% { opacity: 1; }
    25%, 75% { opacity: 1; }
}


.shortabt{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    height: 100vh; 
    background-image: url('images/down.png');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

.HeaderS{
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: left;
    color: white;
    padding-right: 2rem;
}

.stext {
    font-size: 20px;
    justify-content: left;
    text-align: left;
    padding-right: 8rem;
    padding-left: 15rem;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(244, 81, 30, 0.9);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 30px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.search{
    margin: 0;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.search-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.search-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.search-row select,
.search-row input,
.search-row button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150%;
    max-width: none;
}

.search-row button {
    background-color: #f4511e;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 50px;
}

.search-row button:hover {
    background-color: #cc4015;
}

.note {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ccc;
}

.gHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 34px;
    margin-bottom: 2rem; 
}

.gallery {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.info {
    padding: 20px;
    text-align: center;
}
.info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.continue-btn {
    background-color: #f4511e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

.continue-btn:hover {
    background-color: #cc4015;
}

.details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.details span {
    padding: 0 5px;
}

.gallery-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.gallery-item img:hover {
    transform: scale(1.05); 
}

.but1{
    justify-items: center;
    text-align: center;
}

.button1 {
    display: inline-block;
    background-color: #f4511e;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button1:hover {
    background-color: #cc4015;
    transform: scale(1.1); 
}

.button1 span {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.button1:hover span {
    transform: translateX(10px);
}

.fHeader{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 34px;
    margin-bottom: 2rem; 
}

/* Footer */
footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
